footer{
    background-color: $colorPrimario;
}

.redesSociales {
    a{
        text-decoration: none;
        color: $colortxtFooter
    }
}

@media screen and (max-width: 622px){
    .logoEnFooter{
        display: none;
    }
}
.input-group{
    width: 300px;
    padding: 0;
}
